*.plan
history.lock
config.yml
terraform.tfvars
.DS_Store
scotty_dance.key
scotty-dance.csr
intermediate.crt
scotty_dance_decrypt.key
scotty_dance_ee.crt
public/
static/cache_sim        # 
static/hsh
static/code_blocks
themes/hugo-cactus-theme/exampleSite/
.terraform
