body {
  height: 100%;
  font-family: "Courier";
  background-color: #a388c4;
}

.post {
  text-align: left;
}

.post-list {
  padding-bottom: 1em;
  text-align: left;  
}

.post-list-item {
  padding: .5em .5em .5em .5em;
  font-weight: bolder;
}

.nav-bar {
  background-color: #2f0476;
  padding: .2em .2em .2em .2em;
  text-align: center;
}

.nav-item {
  padding-left: 1em;
  padding-right: 1em;  
  font-weight: bolder;
}

.intro {
  text-align: center;
  padding: 1em 1em 1em 1em;
}

.main-content {
  color: #2f0476;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 5vw;
  padding-right: 5vw;
}

a {
  color: #f6f293;
}

.active {
  color: #dfd616;
}

.rounded {
  border-radius: 100%;
}

.socials {
  text-align: center;
  padding: .1em .1em .1em .1em;
  background-color: #7045af;
  color: #2b3595;
}

.socials span {
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
}
