body {
  height: 100%;
  margin: 0;
  font-family: "Courier";
}

.navbar > * {
  list-style-type: none;
  text-align: center;
  font-weight: bolder;
}

#toggle-theme {
  text-align: center;
  font-size: large;
}

.intro, .socials {
  text-align: center;
  padding: 1em 1em 1em 1em;
}

body.black {
  background-color: #00001a;
}

.black .navbar {
  color: #2b3595;
  text-align: center;
}

.black .intro, .socials {
  color: #7045af;
}

body.white {
  background-color: #f7f4e9;
}

.white .navbar {
  color: #aa69c6;
  text-align: center;
}

.white .intro, .socials {
  color: #e6adbc;
}
