body {
  height: 100%;
  width: 100%;
  font-family: Courier, sans-serif, serif;
  font-size: large;
}

.post {
  text-align: left;
  display: inline-block;
  max-width: 100%
}

.post-list {
  text-align: left;
  display: inline-block;
  white-space: nowrap;      /*keep text on one line */
  overflow: hidden;         /*prevent text from being shown outside the border */
  text-overflow: ellipsis;  /*cut off text with an ellipsis*/
  padding-bottom: 1.5em;
}

.post-list-item {
  display: block;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.posts-back-button {
  text-align: left;
  margin-bottom: .5em;
}

.post img {
  max-width: 100%;
  max-height: 600px;
  margin: 0 auto;
  display: inherit;
  height: auto;
  width: auto;
}

.post pre {
  max-width: 100%;
  height: auto;
  display: inline-block;
  overflow: scroll;
  padding: 1em 1em 1em 1em;
}

.post h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

.post blockquote {
  width: 90%;
  font-weight: lighter;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  font-style: italic;
  color: #4a4a4a;
}

.audio-player {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #FFAD96;
  border-radius: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-weight: bold;
}

.audio-player audio {
  margin-top: .5em;
  width: 100%;
}

.nav-bar {
  padding: .2em .2em .2em .2em;
  text-align: center;
  font-size: larger;
}

.nav-item {
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
}



.main-content {
  margin: 0 auto 20% auto;
  text-align: center;
  padding: .5em 1em .5em 1em;
  max-width: 800px;
}

a {
  color: black;
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

.rounded {
  border-radius: 100%;
}

#socials {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  font-size: x-large;
  display: inline-block;
  height: 100%;
  padding: .5em 1em .5em .5em;
}

@media screen and (max-width: 600px){

  #socials {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 2em;
  }

  #socials > div {
    display: inline;
    padding: .2em .2em .2em .2em;
  }
}
